h1 {
  color: #fd0727;
  font-size: 3em;
}

h2 {
  color: #fe6d66;
  font-size: 2em;
  margin-left: 100px;
}

h3 {
  color: #7f9106;
}

body {
  font-family: "Itim", Verdana, sans-serif;
  font-size: 1.5em;
  background-color: #fffcf2;
  color: #2a3d45;
}

img {
  width: 250px;
  float: right;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
}

p {
  width: 800px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

ul {
  list-style-position: inside;
}

#header {
  text-align: center;
}

#footer {
  background-color: #ffece0;
  text-align: center;
}

.indent {
  margin-left: 80px;
  margin-right: 80px;
}

.center {
  text-align: center;
}

a:link {
  color: #7f9106;
  text-decoration: none;
}

a:visited {
  color: #d7d102;
  text-decoration: none;
}

a:focus {
  outline: solid 2px #ffca1e;
  text-decoration: underline;
  color: green;
}

a:hover {
  color: #fd0727;
  text-decoration: underline;
}

a:active {
  color: #fe6d66;
  position: relative;
  top: 3px;
  text-decoration: none;
  outline: 0;
}

.itim-regular {
  font-family: "Itim", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}