/* Do everything in this file */
h2, h3{
    border-bottom: 1px solid red;
    clear: both;
}
figure {
    float: right;
    width: 40%;   
    margin-left: 5em
}
figure img {
    width: 550px;
}
div.tet {
    float: left;
    width: 40%;
    border: 1px solid purple;
}
footer {
    clear: both;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;   
}