/* general page formatting */
body {
    margin: 0 5%;
    background-color: #F8EDEB;
    color: #333;
}

* {
    font-family: "Sono", sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: 40px 3fr 20px repeat(3, 1fr) 20px 3fr 40px;
    grid-template-rows: 24% 40px 60px 40px 18% 40px 23% 60px 24%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1200px;
    max-height: 2100px;
}

@media screen and (min-width: 1000px) {
    #wrapper {
        margin: 2vh auto;
    }
}

#banner-section {
    grid-area: 1 / 2 / 2 / 9;
}

#banner-image {
    width: 100%;
    border-radius: 25px;
}

nav {
    grid-area: 3 / 2 / 4 / 9;
    margin: 5px 0px;
    background-color: #fff;
    border-radius: 25px;
}

#welcome-header-image {
    grid-area: 5 / 2 / 6 / 3;
    width: 100%;
}

#welcome-text {
    grid-area: 5 / 4 / 6 / 9;
    background-image: url("../media/my_media/border_image_side.png");
    background-repeat: no-repeat;
}

#rules-text {
    grid-area: 7 / 2 / 8 / 7;
    background-image: url("../media/my_media/border_image_side.png");
    background-repeat: no-repeat;
}

#rules-header-image {
    grid-area: 7 / 8 / 8 / 9;
}

#payment-section {
    grid-area: 9 / 2 / 10 / 5;
}

#bonus-section {
    grid-area: 9 / 6 / 10 / 9;
}

footer {
    grid-area: 12 / 2 / 13 / 9;
}

#welcome-image {
    width: 100%;
    border-radius: 25px;
}

#rules-image {
    width: 100%;
    border-radius: 25px;
}

#payment-image {
    width: 100%;
}

#rules-text {
    margin: 10px;
    padding: 20px 60px 20px 60px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #A3325C;
    list-style-position: outside;
    text-align: justify;
    border-radius: 25px;
}

#payment-section p,
#bonus-section p {
    background-image: url("../media/my_media/border_image_top.png");
    background-repeat: no-repeat;
}

#welcome-text,
#payment-section p,
#bonus-section p {
    margin: 10px;
    padding: 40px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #A3325C;
    border-radius: 25px;
}

/* navigation formatting */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#navigation li {
    margin: 0 20px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 20px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 47px;
}

a:link {
    color: #FF8167;
    text-decoration-line: none;
}

a:visited {
    color: #559793;
}

a:focus {
    color: #92ae40;
}

a:hover {
    color: #F8A55B;
}

a:active {
    color: #FF9255;
}

footer p {
    background-color: transparent;
    color: #F8A55B;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    word-spacing: 30px;
    letter-spacing: 15px;
}

/* general header formatting */
h2 {
    font-size: 30px;
    color: #FF8167;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
}