body {
    margin: 0 5%;
    background-color: #e7efcf;
    color: #333;
}
header {
    text-align: center;
}

.header-image {
    width: 100%;
}

.nav-image {
    width: 100%;
}

.navigation {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.navigation li {
    margin: 0 20px; /* Add space between the items */
    font-size: 20px;
    font-weight: bold;
    /* cursor: pointer; */
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;

}

.header-section{
    grid-column: 1 / -1;
    grid-row: 1;
}

.navigation-bar{
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 10px;
    text-align: center;
}

.nav-image {
    z-index: -1;
}

.welcome-section {
    grid-column: 1 / 8;
}

.payment-section {
    grid-column: 1 / 4;

}
.bonus-section {
    grid-column: 5 / 8;
}

.rules-section {
    grid-column: 1 / 8;
}
.welcome-section, .rules-section, .payment-section, .bonus-section {
    padding: 20px;
    background-color: #fefefc;;
    border-radius: 10px;
}
.welcome-section h3, .rules-section h3, .payment-section h3, .bonus-section h3 {
    font-size: 24px;
    color: #6a8f63;
    margin-bottom: 10px;
}
.welcome-section p, .rules-section ol, .payment-section p, .bonus-section p {
    font-size: 20px;
    color: #555;
}   
.welcome-image, .rules-image {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.welcome-images img, .rules-image img {
    width: 48%;
    border-radius: 5px;
}
.rules-section ul {
    list-style-type: none;
    font-size: 14px;
    color: #555;
}
.rules-section ul li {
    margin-bottom: 10px;
}
* {
    font-family: "Sono", sans-serif;
}