/* Import Itim font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background-color: #ffedf9;
  font-family: "Itim", Verdana;
  font-size: 120%
}
h1 {
  color: #512aac;
  text-align: center;
}
h2 {
  color: #ee1762
}
h3 {
  color: #ee1762
}
p {
  margin-right: 20px;
}
img {
  float: right; 
  margin: 20px;
}
